@charset "ISO-8859-1";

.ingrese {
  font-size: 16px;
  border: 1px solid black;
  margin: 15px 0px;
  width: 80%;
  text-align: center;
	
}


.fila
{
 	display: flex;
  	justify-content: center;
}

.seleccion
{
  background-color: white;
  text-align: center;
  color: rgb(0, 0, 0);
}

body {
 		background-image: url("/SOUP/Images/background.png");
  		background-repeat: no-repeat;
  		background-attachment: fixed; 
  		background-size: cover;
	}
	.box {
        margin: auto;
  		font-size: 16px;
		width: 23%;
		text-align: center;
	}
.button {
	pointer-events: auto;
	cursor: pointer;
	background: #e7e7e7;
	border: none;
	padding: 10px;
	margin: 0;
	font-family: inherit;
	font-size: 16px;
	position: relative;
	display: inline-block;
	width: 50%;
}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
}

.button--pan {
	font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 700;
	border: 2px solid #000;
	border-radius: 3rem;
	overflow: hidden;
	color: #fff;
}

.button--pan span {
	position: relative;
	mix-blend-mode: difference;
}

.button--pan::before {
	content: '';
	background: #000;
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.button--pan:hover::before {
	transform: translate3d(0,-100%,0);
}

.button--hyperion {
	font-family: input-mono-narrow, monospace;
	font-weight: 500;
	padding: 1rem 1.5rem;
	border: 1px solid #000;
	overflow: hidden;
	color: #fff;
}

.button--hyperion span {
	display: block;
	position: relative;
}

.button--hyperion > span {
	overflow: hidden;
}

.button--hyperion > span > span {
	overflow: hidden;
	mix-blend-mode: difference;
}

.button--hyperion:hover > span > span {
	animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
}
